/* Outlines all elements/css in red boxes to see sizing */
/* * {
  outline: 1px solid #f00 !important;
} */
:root {
  --REIGreen: #1f513f;
}

body {
  background-image: url("../images/backgroundmap.jpg");
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: rgb(97, 135, 90);
}

.websiteTitle {
  position: absolute;
  width: 70%;
  height: 40%;
  bottom: 3vh;
  left: 3vw;
  font-family: "Delicious Handrawn", cursive, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

.theSite {
  position: relative;
  font-size: 57px;
}

.semiCol {
  position: absolute;
  left: 200px;
  bottom: 5%;
  font-size: 57px;
  font-family: "Domine", sans-serif;
}

.youCamp {
  position: relative;
  font-size: 40px;
  left: 27%;
  bottom: 24%;
}
/* Format banner better and so image isn't blurry */
header > img {
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-bottom: 5px;
}

.searchBar {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh;
  width: 30vw;
}

.searchBarContainer {
  width: 100%;
  margin: 0px;
}

/* Text color of the text in the searchBar */
.searchBar ::placeholder {
  color: #aaabc3;
}

/* Controls the outline of the searchBar */
.form-control {
  border-color: #aaabc3;
}

ul {
  list-style-type: none;
}

#map {
  height: 70vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

body {
  background-color: rgb(163, 189, 163);
}

#results {
  /* display: block; */
  width: 500px;
  max-height: 56.5vh;
  overflow-y: auto;
}

#results {
  display: block;
  max-height: 56.5vh;
  overflow-y: auto;
}

.historyTitle {
  font-size: 27px;
}

#history {
  display: block;
  max-height: 56.5vh;
  overflow-y: auto;
}

#clearHistory {
  background-color: var(--REIGreen);
  box-shadow: 0 4px 9px -4px var(--REIGreen);
  margin-top: 3%;
}

.content {
  max-height: 70vh;
}

.container {
  max-width: 95%;
}

.row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.imgContainer {
  height: 100%;
  width: 30%;
  overflow: hidden;
}

.locationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.locationName {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  color: #0c0b08bf;
  line-height: 96%;
  margin-bottom: 3%;
}

.locationAddress {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #9091ac;
  font-size: 0.8rem;
  line-height: 100%;
  margin-bottom: 1%;
}

.locationContact {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #9091ac;
  font-size: 0.8rem;
  line-height: 96%;
  margin-bottom: 1%;
}

.locationRating {
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #9091ac;
  padding-bottom: 2px;
  font-size: 0.8rem;
  line-height: 75%;
  margin-top: 3%;
}

.placeCard-body {
  padding: 3%;
  height: 100%;
  width: 70%;
}

.card {
  width: 100%;
  height: 70vh;
}

.placeCard {
  width: 100%;
  height: 27%;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.placeContainer {
  width: 100%;
  height: 97%;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .historyList {
    width: 235px;
  }
}

@media (min-height: 700px) and (min-width: 1500px) {
  .locationName {
    font-size: 1.2rem;
    line-height: 135%;
    margin-bottom: 3%;
  }

  .locationAddress {
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .locationContact {
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .locationRating {
    padding-bottom: 2px;
    font-size: 1rem;
    line-height: 115%;
    margin-top: 3%;
  }
}

@media (min-height: 730px) and (min-width: 1500px) {
  .locationName {
    font-size: 1.1rem;
    line-height: 135%;
    margin-bottom: 3%;
  }

  .locationAddress {
    font-size: 0.9rem;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .locationContact {
    font-size: 0.9rem;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .locationRating {
    padding-bottom: 2px;
    font-size: 0.9rem;
    line-height: 115%;
    margin-top: 3%;
  }
}

@media (min-height: 1000px) and (min-width: 1500px) {
  .locationName {
    font-size: 1.4rem;
    line-height: 135%;
    margin-bottom: 3%;
    padding-bottom: 1%;
  }

  .locationAddress {
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .locationContact {
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .locationRating {
    padding-bottom: 2px;
    font-size: 1rem;
    line-height: 115%;
    margin-top: 3%;
  }
}
