header {
  position: relative;
  width: 100 vw;
  height: 40vh;
  background-color: rgb(97, 135, 90);
}

.websiteTitle {
  position: absolute;
  bottom: 3vh;
  left: 3vw;
  font-family: "Delicious Handrawn", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  color: #ffffff;
  background-color: transparent;
}

/* Format banner better and so image isn't blurry */
header > img {
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  margin-bottom: 5px;
}

.searchBar {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh;
  width: 30vw;
  justify-content: center;
}

/* Text color of the text in the searchBar */
.searchBar ::placeholder {
  color: #aaabc3;
}

/* Controls the outline of the searchBar */
.form-control {
  border-color: #aaabc3;
}

#map {
  height: 60vh;
  /* width: 40vw; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgb(163, 189, 163);
}

#results {
  display: block;
  max-height: 56.5vh;
  overflow-y: auto;
}

#history {
  display: block;
  max-height: 56.5vh;
  overflow-y: auto;
}

.container {
  max-height: 60vh;
}
