:root {
  --REIGreen: #1f513f;
}

body {
  background-image: url("../images/backgroundmap.jpg");
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  width: 100%;
  height: 40vh;
}

.websiteTitle {
  position: absolute;
  width: 90%;
  height: 50%;
  bottom: 3vh;
  left: 3vw;
  font-family: "Delicious Handrawn", cursive, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

.theSite {
  position: relative;
  font-size: 57px;
}

.semiCol {
  position: absolute;
  left: 200px;
  bottom: 5%;
  font-size: 57px;
  font-family: "Domine", sans-serif;
}

.youCamp {
  position: relative;
  width: 50%;
  left: 27%;
  bottom: 24%;
  padding-bottom: 50px;
  font-size: 40px;
}

header > img {
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  margin-bottom: 5px;
}

.searchBar {
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh;
}

.searchBarContainer {
  width: 100%;
  margin: 0px;
}

.searchBar ::placeholder {
  color: #aaabc3;
}

.form-control {
  border-color: #aaabc3;
}

#results {
  display: block;
  width: 500px;
  max-height: 56.5vh;
  overflow-y: auto;
}

.historyTitle {
  font-size: 27px;
}

#history {
  display: block;
  max-height: 56.5vh;
  overflow-y: auto;
}

#clearHistory {
  background-color: var(--REIGreen);
  box-shadow: 0 4px 9px -4px var(--REIGreen);
  margin-top: 3%;
}

#map {
  height: 70vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.content {
  max-height: 70vh;
}

.container {
  max-width: 95%;
}

.row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 0;
}

.card {
  width: 100%;
  height: 70vh;
}

.placeContainer {
  width: 100%;
  height: 97%;
}

.placeholderDesign {
  width: 100%;
  height: 100%;
}

.placeholderText {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 100%;
  color: #d9e0e0;
  text-align: center;
}

.placeCard {
  width: 100%;
  height: 27%;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.placeCard-body {
  height: 100%;
  width: 70%;
  padding: 3%;
}

.imgContainer {
  height: 100%;
  width: 30%;
  overflow: hidden;
}

.locationImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.locationName {
  margin-bottom: 3%;
  line-height: 96%;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  color: #0c0b08bf;
}

.locationAddress {
  margin-bottom: 1%;
  line-height: 100%;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #9091ac;
}

.locationContact {
  line-height: 96%;
  margin-bottom: 1%;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #9091ac;
}

.locationRating {
  margin-top: 3%;
  line-height: 75%;
  padding-bottom: 2px;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  color: #9091ac;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.noResultModal {
  position: fixed;
  top: 25vh;
  left: 15vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 70vw;
  height: 50vh;
  border: solid var(--REIGreen) 2px;
  background-color: white;
}

.trailFail {
  margin-top: 0;
  width: 60%;
  position: absolute;
  left: 40%;
  top: 17%;
  font-size: xx-large;
}

.nrmContent {
  height: 100%;
}

.nrmContent > img {
  opacity: 100%;
  position: absolute;
  max-width: 40%;
  border-radius: 9px;
  height: 90%;
  top: 5%;
}

.closeBtn {
  float: right;
  right: 9px;
  bottom: 9px;
  position: absolute;
  border-radius: 9px;
  color: white;
  border: none;
  background-color: var(--REIGreen);
  box-shadow: 0 4px 9px -4px var(--REIGreen);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (orientation: portrait) and (max-aspect-ratio: 1/1) {
  .noResultModal {
    position: fixed;
    top: 10vh;
    left: 2vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 96vw;
    height: 80vh;
    border: solid var(--REIGreen) 2px;
    background-color: white;
  }

  .nrmContent > img {
    opacity: 100%;
    position: absolute;
    max-width: 90%;
    left: 5%;
    border-radius: 9px;
    height: 60%;
    top: 10%;
  }

  .trailFail {
    margin-top: 0;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 74%;
    font-size: xx-large;
  }
}

@media screen and (orientation: portrait) and (max-aspect-ratio: 1/1) and (max-width: 560px) {
  .trailFail {
    margin-top: 0;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 74%;
    font-size: x-large;
  }
}

@media screen and (orientation: portrait) and (max-aspect-ratio: 1/1) and (max-width: 360px) {
  .trailFail {
    margin-top: 0;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 74%;
    font-size: large;
  }
}

@media (max-width: 768px) {
  footer {
    display: none;
  }

  #historyList {
    text-align: center;
  }

  #history {
    display: block;
    max-height: 17vh;
    overflow-y: auto;
  }
}

@media (min-width: 1500px) {
  .websiteTitle {
    height: 60%;
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .historyList {
    width: 235px;
  }
}

@media (max-width: 600px) {
  .searchBar {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;
  }

  #historyList {
    text-align: center;
  }
}

@media (min-height: 730px) and (min-width: 1500px) {
  .locationName {
    margin-bottom: 3%;
    line-height: 135%;
    font-size: 1.1rem;
  }

  .locationAddress {
    margin-bottom: 3%;
    line-height: 130%;
    font-size: 0.9rem;
  }

  .locationContact {
    margin-bottom: 3%;
    line-height: 130%;
    font-size: 0.9rem;
  }

  .locationRating {
    margin-top: 3%;
    padding-bottom: 2px;
    line-height: 115%;
    font-size: 0.9rem;
  }
}

@media (min-height: 1000px) and (min-width: 1500px) {
  .locationName {
    margin-bottom: 3%;
    padding-bottom: 1%;
    line-height: 135%;
    font-size: 1.4rem;
  }

  .locationAddress {
    margin-bottom: 3%;
    line-height: 130%;
    font-size: 1rem;
  }

  .locationContact {
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .locationRating {
    margin-top: 3%;
    padding-bottom: 2px;
    line-height: 115%;
    font-size: 1rem;
  }
}
