header {
  position: relative;
  width: 100 vw;
  height: 40vh;
  background-color: rgb(97, 135, 90);
}

a {
  color: #63865c;
}

.websiteTitle {
  position: absolute;
  bottom: 3vh;
  left: 3vw;
  font-family: "Delicious Handrawn", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  color: #ffffff;
  background-color: transparent;
}

/* Format banner better and so image isn't blurry */
header > img {
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  margin-bottom: 5px;
}

.searchBar {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh;
  width: 30vw;
  justify-content: center;
}

/* Text color of the text in the searchBar */
.searchBar ::placeholder {
  color: #aaabc3;
}

/* Controls the outline of the searchBar */
.form-control {
  border-color: #aaabc3;
}

ul {
  list-style-type: none;
}

#map {
  height: 60vh;
  /* width: 40vw; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

body {
  background-color: rgb(163, 189, 163);
}

#results {
  /* display: block; */
  width: 500px;
  max-height: 56.5vh;
  overflow-y: auto;
}

#results {
  display: block;
  max-height: 56.5vh;
  overflow-y: auto;
}

#history {
  display: block;
  max-height: 56.5vh;
  overflow-y: auto;
}

.locationName {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 5px; */
  color: #0c0b08bf;
  padding-bottom: 10px;
}

.container {
  max-height: 60vh;
}

.locationAddress {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 5px;
  color: #9091ac;
}

.locationContact {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 5px;
  color: #9091ac;
  padding-bottom: 5px;
}

.placeContainer {
  width: 575px;
  height: 60vh;
}

.card-body {
  padding: 14px 24px 24px 20px;
}